
input[type=text], select, textarea {
    width: 40%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    color: white;
    font-weight: bolder;
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=button] {
      background-color: #24a0ed;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
  }
  
  input[type=button]:hover {
      background-color: rgb(0,0,128);
  }
  
  input[type=submit] {
    background-color: #24a0ed;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin-right: 400px;
  }
  
  input[type=submit]:hover {
    background-color: rgb(0,0,128);
  }
  
  .form {
    text-align: left;
    padding: 25px;
  }
  
  .col-15 {
      float: left;
      margin-top: 6px;
      margin-left: 35px;
  }
  
  .col-30 {
      float: left;
      width: 30%;
      margin-top: 6px;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
    margin-left: 250px;
  }
  
  .col-75 {
    float: left;
    width: 50%;
    margin-top: 6px;
    margin-right: 50px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  