.clearfix{
  height: 72%;
}

.left{
  width: 53%;
  height: 100%;
  float: left;
}

.tab{
  width: 100%;
  height: 13%;
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

.content1{
  width: 95%;
  height: 87%;
  margin-left: 2%;
  margin-right: auto;
  overflow: auto ;
  font-family:"Roboto", sans-serif;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.right{
  width: 45%;
  height: 100%;
  float: right;
}

.content1 table{
  width: 100%; 
  background: #fff;  
  color: #222; 
  padding: 24px;
  box-shadow: 0 4px 15px -8px rgba(0, 0, 0, 0.4);
  border-collapse: collapse;
}

.content1 thead tr{
  background:rgba(25,179,211,1);
  font-family: Arial, Helvetica, sans-serif;
}

table td, table th{
  padding: 16px 32px;
}

table tr{
  border-bottom: 1px solid #eee;
}

tr:hover{
  background-color: rgb(230,230,250);
}
tr:nth-child(even) {background-color: #f2f2f2;}
.tab button{
  padding: 8px 10px;
  min-width: 100px;
  font-weight: bold;
  font-size: large;
  background-color: rgb(0,191,255);
  border-radius: 10px;
  border: 1px solid black;
  cursor: pointer;
  float: left;
  margin-top: 7px;
}

.tab button:hover{
  background-color:rgb(30,144,255);
}

fieldset{
  background-color: rgba(0, 0, 0, 0.2);
  /* background-image: linear-gradient(to left, rgba(255,0,0,0),rgb(176,224,230)); */
  border-style: none;
  /* border-radius: 15px; */
  border-color: black;
  margin-top: 60px;
  margin-left: 100px;
  margin-right: 100px;
  box-shadow: 0px 0px 10px 2px black;
  color: rgb(0, 0, 0);
}

label{
  font-weight: bold;
}

input[type=text]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit], .right button{
background-color: #24a0ed;
 border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  margin: 0 auto;
  display: block;
  margin-top: 5px;
}

.right button:hover{
  background-color: rgb(0,0,128);
}

input[type=submit], .left button{
  background-color: #24a0ed;
   border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    margin-top: 5px;
  }

.left button:hover{
  background-color: rgb(0,0,128);
}

input[type=submit]:hover{
  background-color: darkred;
}

.formbtn{
  display: flex;
}

input[type=date]{
  color: rgb(0, 0, 0);
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  float: right;
  margin-left: 70px;
  padding: 5px;
  margin-bottom: 20px;
}
