.cat1, .cat2, .cat3 {
	float: left; 
	padding: 30px;
	box-sizing: border-box;
	width: 27%;
	height: 365px;
	margin-left:63px;
	margin-top:40px;
	margin-bottom:40px;
	font-size: 15px;
	text-align: center;
	font-weight: bold;
	background-color: rgb(0,0,0,0.3);
	box-shadow: 0px 0px 10px 2px black;
	overflow: hidden;
	color: white;
	/* min-height: 370px; */
}

.cat1 img:hover {            
	transform: scale(1.1);
}
.cat2 img:hover {            
	transform: scale(1.1);
}
.cat3 img:hover {            
	transform: scale(1.1);
}

.clearfix:after {
	content: ".";
	display: block;
	height: 10px;
	clear: both;
	visibility:hidden;
}



