*{
    margin: 0;
    padding: 0;
}
  
.container{
    width: 100%;
    margin: auto;
}
  
.nav{
     float: right;
     list-style: none;
     margin-top: 30px;
} 
  
.nav li{
    display: inline-block;
}
  
.nav li a{
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}
  
.nav li a:hover{
    background: #fff;
    color: #333;
}
  
.logo img{
    width: 80px;
    height: auto;
    float: left;
    margin-left: 40px;
    margin-top: 10px;
    border: 5px solid rgb(103, 109, 204);
}
  
.hometext{
    position: absolute;
    width: 900px;
    height: 300px;
    margin: 20% 20%;
    text-align: center;
}
  
.hometext h1{
    text-align: center;
    color:#fff ;
    text-transform: uppercase;
    font-size: 60px;
}
  
.hometext a{
    border: 1px solid #fff;
    padding: 10px 25px; 
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
    color: #fff;
    margin-left: 10px;
}
  
.hometext a:hover{
    background: #fff;
    color: #333;
}
  
.content p{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: justify;
}
  
.content h1{
    padding-top: 2%;
    padding-left: 3%;
    padding-bottom: 1%;
}
  
.content ul li{
    display: list-item;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 0.5%;
  
}

.content hr{
    border: 1px solid red;
    width: 100%;
}

.footer {
    background: white;            
    text-align: center;
    height: 18%;
    width: 100%;
    float: left;
    overflow:hidden;
    background-color: rgb(167, 167, 167);
    z-index:-1;
    opacity: 0.8;
    padding-right:5px;
    position: sticky;
    margin-top: 5%;
}

.footer img{
    padding-left:7%;
    transition:0.5s;
    transition-property:all;
    z-index:1;
    margin-right: 50;
    float:center;
    padding-top: 1%;
    padding-right: 5%;
}

.footer img:hover{
    transform:scale(1.1);
    z-index:1;
    opacity:100%
}

.footer h3{
    text-align: center;
}
   