.bar{
    max-width: 50%;
    height: 10%;
    margin-top: 3%;
    float: center;
    margin-bottom: 2%;
}

.contentItem{
    width: 100%;
    height: auto;
    overflow: visible;
    display: flex;
    flex-wrap: wrap;
}

.bar input[type=text] {
    width: 90%;
    height: 100%;
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    background: white;
}

.bar button {
    width: 10%;
    height: 100%;
    float: center;
    padding: 10px;
    background: black;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

.bar button:hover{
    background-color: dimgray;
}

.card {
    background-color: #19B3D3;
    box-shadow: 0px 0px 10px 2px black;
    max-width: 150px;
    min-height: 350px;
    margin-top: 20px;
    margin-left: 80px;
    margin-bottom: 10px;
    text-align: center;
    font-family: arial;
    position: relative;
}

.card:hover {            
	transform: scale(1.1);
}

.cart button{
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover{
    background-color: red;
}
.cart p{
    padding-top: 20px;
}

input[type=number]{
    background-color: black;
    border-radius: 20px;
 	border: none;
  	color: white;
  	padding: 8px 16px;
  	text-decoration: none;
    width: 78px;
    cursor: pointer;
    margin-bottom: 10px;
}

.cart{
    position: absolute;
    bottom: 0px;
    margin: 0 auto;
    display: block; 
}

form{
    margin: 0 auto;
    display: flex;
    float: center;
}
.footercontent{
	position: relative;
   	bottom: 5;
   	left: 5;
   	width: 100%; 
}

