* {
  box-sizing: border-box;
}

.poster {
  float: left;
  width: 50%;
  height: 100%; 
  background-color: white;
}

.poster img{
  overflow: hidden;
  height: 100%;
  
}

.container:after {
  content: "";
  display: table;
  clear: both;
}

.regform {
  float: left;
  width: 50%;
  height: 100%; 
  background: linear-gradient(to right, #ffffff, #f7f5f7);
  color: black;
  padding-top: 25px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 50%;
  opacity: 0;
  transition: .5s ease;
  background-color: #1a1918;
  padding: 10px;
  overflow: hidden;
}

.poster:hover .overlay {
  opacity: 0.8;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text h1{
  color :white;
  text-align: center;
}

.text p{
  text-align: justify;
  color: white;
  font-size: 20px;
}
.formgroup{
  margin-top: 2px;
}

label {
  font-size: 20px;
  text-transform: uppercase;
  color: rgb(17, 16, 16);
  margin-left: 5%;
  padding-top: 0px;
  
}
.form-control {
  background-color: transparent;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-radius: 0;
  margin-left: 10%;
  width: 80%;
  height: 40px;
  
}

.btnform{
  text-align: center;
  padding: 20px;
}
[type="text"] {color: #111;}
[type="password"] {color: #111;}
.btn {
  padding: .5rem 2.5rem;
  font-size: .95rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  background: #111;
  border-radius: 35px;
}
  
.btn:hover {
  background-color: white;
  color: #111;
  transform: scale(1.1);
}

